/*Componente Header*/
.container-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%; 
  background-color: #f8f8f8;
}

.container-header h1 {
  color: #0000CD	
}
/*Componente Header*/

/*Componente Menu*/
.ul-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px; 
  list-style: none;
  background-color: #0000CD;
  margin: 0px !important;
}
.ul-menu a {
  color: white;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.ul-menu a:hover{
  color: black;
  background-color: white;
}

.ul-menu li {
  padding: 10px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin: 15px;
  cursor: pointer;
}
/*Componente Menu*/

/*TabelaUserTodo*/
.container-modal{
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-modal .MuiBackdrop-root-86{
  width: 50%;
  left: 25%;
}

/*TabelaUserTodo*/

/*Modal cadastro*/
.form-cadastro{
  display: flex;
  flex-direction: column;
}
.container-modal.cadastro{
  background-color: rgba(0, 0, 0, 0.5)
}
.container-modal.cadastro .MuiBackdrop-root-86{
  background-color: white;
}
/*Modal cadastro*/